USE [dbDetranNetAtelier]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Inf_CalculaMedicaoConsiderada]    Script Date: 15/05/2024 15:42:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Samuel>
-- Update date: <15/05/2024>
-- Description:	Removida operações que quebra sp [stp_Inf_Ws_AutoInfracaoEletronica_ins]
-- =============================================

ALTER  FUNCTION [dbo].[fn_Inf_CalculaMedicaoConsiderada]
(
	@MedicaoRegistrada	NUMERIC(7,2),
	@MedicaoPermitida	NUMERIC(7,2),
	@CodigoInfracao		INT,
	@Desdobramento		INT
)

RETURNS  NUMERIC(7,2)

BEGIN
			

DECLARE 
	@TipoMedicao INT, 
	@MedConsiderada	FLOAT, 
	@MedRegistrada NUMERIC(7,2),
	@MedPermitida NUMERIC(7,2),
	@MsgErro VARCHAR(255),
	@Percentual NUMERIC(6,2)
	, @Realizado NUMERIC (7,2)
	, @Considerado NUMERIC (7,2)
	--, @MedicaoConsiderada varchar(10)


	SET  @TipoMedicao = null
	SET  @MedConsiderada = null 


	
		SELECT 	TOP 1
				@TipoMedicao			= ISNULL(TipoMedicao,0)
		FROM   	vw_Inf_TipoInfracao (NOLOCK) 
		WHERE 	CodigoInfracao = @CodigoInfracao 
		AND		Desdobramento  = @Desdobramento 
		ORDER BY idTipoInfracao DESC


	IF @TipoMedicao <> 0 AND  (NULLIF(LEN(@MedicaoRegistrada),0) is not null)
    BEGIN
		------ Permite Somente medição registrada superior a 0.60  
		IF  @TipoMedicao = 5 -- (Medição Alcool)
		BEGIN

			--DESCOMENTAR TODO PARA VOLTAR ANTERIOR
			--CÓDIGO ANTERIR
				
			SET @MedPermitida   = @MedicaoPermitida--Convert(NUMERIC(7,2),ISNULL(@MedicaoPermitida,'0'))
			SET @MedRegistrada  = @MedicaoRegistrada--Convert(NUMERIC(7,2),@MedicaoRegistrada)
		
			IF @MedRegistrada > 0 and @MedRegistrada <= 0.5
			BEGIN
				SET @MedConsiderada = 0.04
			END
			ELSE
			BEGIN
				IF @MedRegistrada > 0.5 AND @MedRegistrada <= 2
				BEGIN
					SET @MedConsiderada = @MedRegistrada * 0.08
				END
				ELSE
				BEGIN
					SET @MedConsiderada = @MedRegistrada * 0.30
				END
			END

			--SET @MedConsiderada = Round(@MedRegistrada * 0.90,2)
			SET @MedConsiderada = (@Medregistrada - @MedConsiderada)

			DECLARE 
			@Inteiro varchar(10), 
			@Decimal varchar(10), 
			@Posicao INT, 
			@Tamanho INT,  
			@Medicao varchar(10),  
			@MedicaoConsiderada varchar(10)

			-- CÓDIGO ABAIXO NÃO FAZ SENTIDO -- SAMUEL -- 15/05/2024
			--SET @Medicao =  CONVERT(VARCHAR(10),@MedConsiderada)
			--SET @tamanho  = LEN(@Medicao)
			--SET @Posicao = CHARINDEX('.', @Medicao)
			--SET @Inteiro = SUBSTRING(@Medicao, 1, @POSICAO-1)
			--SET @Decimal = SUBSTRING(@Medicao, @POSICAO + 1, 2)
			--SET @MedicaoConsiderada = @Inteiro +'.'+ @Decimal

			SET @MedicaoConsiderada = CONVERT(VARCHAR(10),@MedConsiderada)

			--FIM CÓDIGO ANTERIR
			
			--EXEC stp_Inf_RetornaValorConsideradoAIT @MedicaoRegistrada, @Realizado output, @Considerado output 

			--SET @MedicaoConsiderada = @Considerado

		END
			
		IF  @TipoMedicao = 12 -- (Luminosidade)
		BEGIN
						
			SET @MedPermitida   = Convert(NUMERIC(7,2),ISNULL(@MedicaoPermitida,'0'))
			SET @MedRegistrada  = Convert(NUMERIC(7,2),@MedicaoRegistrada)	
			SET @Percentual = (@MedRegistrada * 0.7)
			SET @MedConsiderada = @Medregistrada + @Percentual
			SET @MedicaoConsiderada = @MedConsiderada
					
		END

		IF @TipoMedicao <> 5 AND @TipoMedicao <> 12 --(Medição Alcool)
		BEGIN  

			IF   @TipoMedicao = 1  -- (Medição velocidade)
					IF @MedRegistrada > 100
						SET @MedConsiderada = (@MedRegistrada * 0.93) 
					ELSE
						SET @MedConsiderada = @MedRegistrada - 7

			IF  @TipoMedicao = 2
			BEGIN
				SET @MedConsiderada = @MedRegistrada - @MedPermitida
			END
			SET @MedicaoConsiderada = @MedConsiderada
		END	-- @TipoMedicao <> 5
						
	END -- TipoMedicao ============================================			
    
	Fim_Calculo:	

	RETURN Convert(NUMERIC(7,2),ISNULL(@MedicaoConsiderada, '0'))      

END