USE [dbDetranNetAtelier]
GO

/****** Object:  StoredProcedure [dbo].[stp_Inf_Ws_AutoInfracaoEletronica_ins]    Script Date: 15/05/2024 14:29:18 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Dalmon, Maricelmo>
-- Create date: <08/03/2017>
-- Description:	<Description,,>
-- =============================================
-- Author:		<Samuel>
-- Update date: <03/11/2023>
-- Description:	Correção do vínculo do CPFAgente com o DocPrincipal
-- =============================================
-- Author:		<Gilson>
-- Update date: <03/04/2024>
-- Description:	Correção @MedicaoRegistrada que não estava aceitando '0.00' somente numeros inteiros.
-- =============================================
-- Author:		<Rodrigo Figueira>
-- Update date: <18/12/2024>
-- Description:	Removido(comentado) trecho que inseria agentes indevidamente
-- Tarefa-945
-- =============================================
--ALTER PROCEDURE [dbo].[stp_teste]
ALTER PROCEDURE [dbo].[stp_Inf_Ws_AutoInfracaoEletronica_ins_talonario]
	-- Parâmetros externos
	@IdSessao INT = NULL,
	@TipoEntradaDados CHAR(1) = NULL,
	@UsuarioInclusao VARCHAR(30),
	--Dados do veículo
	@Placa VARCHAR(07) = NULL,
	@UfPlaca VARCHAR(02) = NULL,
	@Chassi VARCHAR(50) = NULL,
	--@idEspecieVeiculo			INT = NULL,
	--@idMarcaVeiculo				INT = NULL,
	@CodLocalVeiculo VARCHAR(5) = NULL,
	--Dados do Auto de Infração
	@CodigoOrgaoAutuador INT = NULL,
	@CodigoInfracao VARCHAR(10) = NULL,
	@Desdobramento VARCHAR(02) = NULL,
	@NumeroAuto VARCHAR(10) = NULL,
	@DataAuto VARCHAR(10) = NULL,
	@HoraAuto VARCHAR(08) = NULL,
	@CodigoMunicipio VARCHAR(10) = NULL,
	@DataLote VARCHAR(10) = NULL,
	@NumeroTama VARCHAR(15) = NULL,
	@NumeroTermoConstatacao VARCHAR(30) = NULL,
	@RecolhePPD CHAR(1) = NULL,
	@RecolheCNH CHAR(1) = NULL,
	@RecolheACC CHAR(1) = NULL,
	@RecolheCLRV CHAR(1) = NULL,
	@RecolheCRV CHAR(1) = NULL,
	@RecolheOutros CHAR(1) = NULL,
	@RecolheOutrosDados VARCHAR(30) = NULL,
	@VeiculoRemovido CHAR(1) = NULL,
	@VeiculoRetido CHAR(1) = NULL,
	@VeiculoOutros CHAR(1) = NULL,
	@VeiculoOutrosDados VARCHAR(30) = NULL,
	@CodigoTipoInstrumento VARCHAR(10) = NULL,
	@InstrumentoAfericao VARCHAR(30) = NULL,
	@idMarcaModeloInstrumento INT = NULL,
	@NumeroSerieInstrumento VARCHAR(30) = NULL,
	@NumeroTesteInstrumento VARCHAR(30) = NULL,
	@DataAfericao VARCHAR(10) = NULL,
	@MedicaoRegistrada VARCHAR(15) = NULL,
	@MedicaoPermitida VARCHAR(15) = NULL,
	----Dados do agente
	@CpfAgente VARCHAR(14) = NULL,
	@MatriculaAgente VARCHAR(10) = NULL,
	@Observacao VARCHAR(200) = NULL,
	@NomeAgente VARCHAR(60) = NULL,
	----Local Infração
	@Local VARCHAR(80) = NULL,
	@NumeroLocal VARCHAR(5) = NULL,
	@Complemento VARCHAR(80) = NULL,
	@BairroInfracao VARCHAR(50) = NULL,
	----Dados do condutor
	@IndicadorAssinatura INT = NULL,
	@NomeCondutor VARCHAR(60) = NULL,
	@CPFCondutor VARCHAR(11) = NULL,
	@TipoDocumentoCondutor VARCHAR(1) = NULL,
	@NumeroCNH VARCHAR(20) = NULL,
	@UFCNH VARCHAR(02) = NULL,
	----Dados do Lote/Transação
	@NumeroLote INT = NULL,
	@idRegistroLote INT = NULL,
	@MotivoRejeicao INT = NULL,
	@idTransacao INT = NULL
	----Dados situação estrangeiro
	----@CidadeVeiculoEstrangeiro	VARCHAR(100)= NULL,
	----@PaisVeiculoEstrangeiro		VARCHAR(50)= NULL,
	----@Chassi						VARCHAR(50)= NULL,
	----@EspecieVeiculoEstrangeiro	VARCHAR(50)	= NULL,
	----@PaisCondutorEstrangeiro	VARCHAR(50)= NULL,
	----@RGCondutorEstrangeiro		VARCHAR(50)	= NULL,
	----@OrgaoRGCondutorEstrangeiro	VARCHAR(50)	= NULL,
	----@NomeTransportador			VARCHAR(100)= NULL,
	----Dados gerais
	--@NumDocEmbarcadorTransp		VARCHAR(14) = NULL,
	,
	@Abordagem CHAR(1) = NULL
	--@AbordagemJustificativa		VARCHAR(200) = NULL,
	--@DadosCondutorCorreto		CHAR(1) = NULL,
	--@DadosPlacaCorreto			CHAR(1) = NULL
AS
DECLARE @DtProc DATETIME,
	@idControleLote INT,
	@IdAutoInfracao INT,
	@idCidadePais INT,
	@idAgenteAutuador INT,
	@DataHoraAuto DATETIME,
	@DataAutoInfracao DATETIME,
	@ValorMulta MONEY,
	@DataAutoErro VARCHAR(20),
	@DtDetran DATETIME,
	@FeCHAR INT,
	@CodMotivoCancelamento INT,
	@idVeiculo INT,
	@Convenio INT,
	@TipoOrgaoAutuador VARCHAR(1),
	@CodLocal INT,
	@CodOrgaoAutuador INT,
	@TipoMedicao INT,
	@CodInfracao VARCHAR(10),
	@OrgaoAutuadorTalao INT,
	@MedRegistrada NUMERIC(7, 2),
	@Responsabilidade VARCHAR(1),
	@MedPermitida NUMERIC(7, 2),
	@DataAquisicao VARCHAR(08),
	@MedConsiderada NUMERIC(7, 2),
	@IdPessoaCondutor INT,
	@OrgaoAutuadorDenatran INT,
	@IdProprietario INT,
	@Municipalizado CHAR(1),
	@ExclusividadeInfracao CHAR(1),
	@TipoConvenio INT,
	@OrgaoDenatran INT,
	@MsgErro VARCHAR(255),
	@idTipoInfracao INT,
	@TipoVeiculo INT,
	@AnoFab INT,
	@UFCidade VARCHAR(02),
	@MotivoCancelamento VARCHAR(50),
	@DataAutuacao VARCHAR(10),
	@idPessoa INT,
	@idCidadePaisVeiculo INT,
	@QuantLote INT,
	@TotalLote INT,
	@Status_Codigo INT,
	@NovoLote INT,
	@SringNumeroLote VARCHAR(20),
	@MotivoBaixa VARCHAR(50)

SET NOCOUNT ON
SET XACT_ABORT ON

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here - alt
	IF @IdSessao <> - 1
	BEGIN
		SELECT @MsgErro = dbo.fn_ConsisteOperadorSessao(@idSessao)

		IF @MsgErro IS NOT NULL
			--SELECT @MsgErro
			GOTO TrataMsg
				--RETURN
	END

	-- PARÂMETROS OBRIGATÓRIOS
	IF NULLIF(LEN(@UsuarioInclusao), 0) IS NULL
	BEGIN
		SET @MsgErro = 'Unsuário INVÁLIDO!!'

		GOTO TrataMsg
			--SELECT @MsgErro
			--RETURN
	END

	IF ISNULL(@CodigoOrgaoAutuador, 0) = 0
		OR @CodigoOrgaoAutuador = 0
	BEGIN
		SET @MsgErro = 'Órgão Autuador INVÁLIDO!!'

		GOTO TrataMsg
			--SELECT @MsgErro
			--RETURN
	END

	SET @CodOrgaoAutuador = NULL

	SELECT @TipoOrgaoAutuador = TipoOrgaoAutuador,
		@CodLocal = CodLocal,
		@CodOrgaoAutuador = CodigoOrgaoAutuador
	FROM vw_Inf_OrgaoAutuadorOperador
	WHERE CodigoOrgaoAutuador = @CodigoOrgaoAutuador
		AND IdSessao = @IdSessao

	IF @CodOrgaoAutuador IS NULL
		AND @IdSessao <> - 1
	BEGIN
		SET @MsgErro = 'Operador sem permissão para este Órgão Autuador.'

		GOTO TrataMsg
			--SELECT @MsgErro
			--RETURN
	END

	--Liberado sei 0010278122202042-26102022
	--IF @CodigoOrgaoAutuador = '200130' -- -- ADICINADO PELO RAFAEL 17-12-2020
	--BEGIN
	--	SET @MsgErro = 'Orgão não autorizado para cadastro de infração. Processo: 0010.076324/2019-18'
	--	GOTO TrataMsg
	--END
	--ze alves liberou 26102022 200030
	--IF @CodigoOrgaoAutuador = '200030' -- DALMON CARVALHO 09/03/2021
	--BEGIN
	--	SET @MsgErro = 'Orgão não autorizado para cadastro de INFRAÇÃO ELETRÔNICA.'
	--	GOTO TrataMsg
	--END
	--IF @CodigoOrgaoAutuador <> 200030 AND @IdSessao = -1    
	--BEGIN
	--	SET @MsgErro = 'Webservice sem permissão para operar.'
	--	GOTO TrataMsg
	--	--SELECT @MsgErro
	--	--RETURN
	--END
	--IF (NULLIF(LEN(@DataAfericao),0) IS NULL)
	--BEGIN
	--	SET @DataAfericao = null
	--END
	IF @Codigoinfracao = '5002'
	BEGIN
		SET @MsgErro = 'Multa NIC não pode ser digitada. A emissão deverá ser automática.'

		GOTO TrataMsg
	END

	IF ISDATE(SUBSTRING(@HoraAuto, 1, 2) + ':' + SUBSTRING(@HoraAuto, 3, 2)) = 0
	BEGIN
		IF LEN(@HoraAuto) = 5
			SET @HoraAuto = @HoraAuto + ':00'
	END

	SET @TipoMedicao = NULL

	SELECT TOP 1 @TipoMedicao = ISNULL(TipoMedicao, 0),
		@Responsabilidade = Responsabilidade,
		@CodInfracao = CodigoInfracao,
		@ExclusividadeInfracao = ISNULL(ExclusividadeInfracao, 'M'),
		@idTipoInfracao = idTipoInfracao
	FROM vw_Inf_TipoInfracao(NOLOCK)
	WHERE CodigoInfracao = @CodigoInfracao
		AND Desdobramento = @Desdobramento

	IF @CodInfracao IS NULL
	BEGIN
		SET @CodInfracao = @CodigoInfracao
	END

	--------  CORREÇÃO DO MANUAL 11.0.5 RAFAEL 30-01-2024  --------------------------------------------------------
	IF (
			@CodigoInfracao IN (
				5169,
				7579,
				7560
				)
			AND @NumeroCNH IS NULL
			AND @UFCNH IS NULL
			AND UPPER(dbo.fn_TirarAcentos(@NomeCondutor)) IS NULL
			AND @CPFCondutor IS NULL
			)
	BEGIN
		SET @MsgErro = '921 - Obrigatório o preenchimento dos campos para infrações de condutor abordado.'

		GOTO TrataMsg
	END

	--------------------------------------------------------------------------------
	--Alterações Dalmon Carvalho 10/03/2017
	--Parâmetros opcionais
	--SET @MsgErro = 'TipoInstrumento: ' + @CodigoTipoInstrumento + ' / ' + 'MedicaoRegistrada: ' + @MedicaoRegistrada + ' / ' + 'MedicaoPermitida: ' + @MedicaoPermitida
	--GOTO TrataMsg
	SET @MedRegistrada = Convert(NUMERIC(7, 2), @MedicaoRegistrada)
	SET @MedPermitida = Convert(NUMERIC(7, 2), @MedicaoPermitida)

	--DALMON CARVALHO - 04/03/2021 - ADICIONADO CRÍTICA ETILÔMETRO QUANDO MEDIÇÃO = 0
	IF (
			@CodigoTipoInstrumento <> 0
			AND @CodigoTipoInstrumento <> 8
			AND @CodigoTipoInstrumento <> 3
			)
	BEGIN
		IF (
				ISNULL(@MedRegistrada, 0) = 0
				OR @MedRegistrada = 0
				)
		BEGIN
			SET @MsgErro = '016-Informe a Medição Registrada.'

			GOTO TrataMsg
		END

		IF (
				ISNULL(@MedPermitida, 0) = 0
				OR @MedPermitida = 0
				)
		BEGIN
			SET @MsgErro = '017-Informe a Medição Permitida.'

			GOTO TrataMsg
		END

		IF @MedPermitida >= @MedRegistrada
		BEGIN
			SET @MsgErro = '055-Medição Registrada Inferior à Permitida.'

			GOTO TrataMsg
		END
	END

	--FIM
	IF @MotivoRejeicao IS NULL
	BEGIN
		IF ISNULL(@UFPlaca, '') <> (
				SELECT UF
				FROM Sys_Parametros
				)
			AND @Municipalizado = 'S'
			AND @ExclusividadeInfracao IN (
				'M',
				'G'
				)
		BEGIN
			SET @MsgErro = '050-Infração não é de competência do órgão autuador.'

			GOTO TrataMsg
		END

		IF NULLIF(LEN(@CodigoMunicipio), 0) IS NULL
		BEGIN
			SET @MsgErro = '006-Favor informar Código do Município.'

			GOTO TrataMsg
		END

		IF ISNUMERIC(@CodigoMunicipio) = 0
		BEGIN
			SET @MsgErro = '006-Favor informar Código do Município.'

			GOTO TrataMsg
		END

		SELECT @idCidadePais = idCidadePais,
			@UFCidade = UF
		FROM Gen_CidadePais(NOLOCK)
		WHERE CodLocal = @CodigoMunicipio

		IF @idCidadePais IS NULL
		BEGIN
			SET @MsgErro = '006-Codigo do Municipio não localizado na Tabela Cidade/Pais.'

			GOTO TrataMsg
		END

		IF @UFCidade <> (
				SELECT UF
				FROM SYS_Parametros
				)
		BEGIN
			SET @MsgErro = '051-Municipio incompatível com Órgão Autuador.'

			GOTO TrataMsg
		END

		IF (
				@CodigoMunicipio <> @CodLocal
				AND @TipoOrgaoAutuador = 'M'
				)
		BEGIN
			SET @MsgErro = '051-Municipio incompatível com Órgão Autuador.'

			GOTO TrataMsg
		END

		IF NULLIF(LEN(@Placa), 0) IS NULL
		BEGIN
			SET @MsgErro = '001-É necessário informar a placa do Veículo.'

			GOTO TrataMsg
		END

		--IF @DadosPlacaCorreto = 'N'
		--BEGIN
		--	SET @MsgErro = '003-PLACA NÃO CONFERE COM CARACTERÍSTICAS DO VEÍCULO.'
		--	GOTO TrataMsg
		--END
		IF @UFPlaca = (
				SELECT UF
				FROM sys_Parametros
				)
		BEGIN
			SELECT @MotivoBaixa = MB.Descricao
			FROM REV_VEICULO V
			JOIN REV_MOTIVOBAIXA MB ON MB.IDMOTIVOBAIXA = V.MOTIVOBAIXA
			WHERE V.Placa = @Placa

			SELECT @idVeiculo = idVeiculo,
				@TipoVeiculo = CodigoTipoVeiculo,
				@DataAquisicao = RIGHT(DataAquisicao, 4) + SUBSTRING(DataAquisicao, 4, 2) + LEFT(DataAquisicao, 2),
				@AnoFab = AnoFabricacao
			FROM vw_Rev_DadosVeiculo
			WHERE (
					Placa = @Placa
					OR Placa = CASE 
						WHEN ISNUMERIC(SUBSTRING(@Placa, 5, 1)) > 0
							THEN dbo.fnConversorMercosul(@Placa)
						ELSE dbo.fn_VerificarPlacaMercosul(@Placa)
						END
					) --mercosul 03122019
				AND ISNULL(MotivoBaixa, 0) = 0

			-->>ze alves 09022024
			IF @idVeiculo IS NULL
			BEGIN
				SELECT TOP 1 @idVeiculo = PE.idVeiculo,
					@TipoVeiculo = CodigoTipoVeiculo,
					@DataAquisicao = RIGHT(DataAquisicao, 4) + SUBSTRING(DataAquisicao, 4, 2) + LEFT(DataAquisicao, 2),
					@AnoFab = AnoFabricacao,
					@Placa = v.Placa
				FROM Rev_PlacasEspeciais PE(NOLOCK)
				INNER JOIN vw_Rev_DadosVeiculo V ON pe.idVeiculo = v.idVeiculo
				WHERE (
						PlacaEspecial = @Placa
						OR PlacaEspecial = dbo.fnConversorPlaca(@Placa)
						)
			END

			--<<
			IF @idVeiculo IS NULL
			BEGIN
				SET @MsgErro = '001-Placa não localizada no Cadastro de Veiculos ou fora de circulação. ' --+ @MotivoBaixa

				GOTO TrataMsg
			END

			IF RIGHT(@DataAuto, 4) < @AnoFab
			BEGIN
				SET @MsgErro = '087-Data de autuação inferior ao ano de fabricação do veiculo.'

				GOTO TrataMsg
			END
		END
		ELSE
		BEGIN
			IF @CodigoOrgaoAutuador <> '122100'
				AND @CodigoOrgaoAutuador <> '200030' --Dalmon Carvalho [03/06/2020] --Add Prefeitura Porto Velho - multa veículos outra UF
				AND @CodigoOrgaoAutuador <> '200050' -- Zé Alves 25102023
				AND @CodigoOrgaoAutuador <> '200090' -- Zé Alves 25102023
			BEGIN
				SET @MsgErro = 'Orgão não autorizado para cadastro de infração para veículo de outra UF.'

				GOTO TrataMsg
			END

			IF @idTransacao IS NULL
				AND @TipoEntradaDados <> 'E'
			BEGIN
				EXEC stp_REV_902_EV01 @Placa,
					@idTransacao OUTPUT,
					'1'

				IF @idTransacao IS NULL
				BEGIN
					SET @MsgErro = '085-Consulta a Base Nacional realizada sem sucesso.'

					GOTO TrataMsg
				END

				IF NOT EXISTS (
						SELECT idTransacao
						FROM Rev_Transacoes(NOLOCK)
						WHERE idTransacao = @idTransacao
							AND ISNULL(CodigoRetorno, 1) IN (
								0,
								48
								)
						)
				BEGIN
					SET @MsgErro = '085-Consulta a Base Nacional realizada sem sucesso.'

					GOTO TrataMsg
				END
			END

			SELECT @TipoVeiculo = ISNULL(idTipoVeiculo, 0)
			FROM vwTrata912_Transacoes
			WHERE idTransacao = @idTransacao
		END

		IF NULLIF(LEN(@NumeroAuto), 0) IS NULL
		BEGIN
			SET @MsgErro = '009-É necessário informar o Número do Auto de Infração.'

			GOTO TrataMsg
		END

		IF (NULLIF(LEN(@DataAuto), 0) IS NULL)
		BEGIN
			SET @MsgErro = '012-Data do Auto Inválida.'

			GOTO TrataMsg
		END

		IF NULLIF(LEN(@HoraAuto), 0) IS NULL
		BEGIN
			SET @MsgErro = '013-Hora do Auto Inválida.'

			GOTO TrataMsg
		END

		IF ISDATE(@HoraAuto) = 0
		BEGIN
			SET @MsgErro = '013-Hora do Auto Inválida.'

			GOTO TrataMsg
		END

		SET @DataAutuacao = dbo.fn_Ren_FormataData_AAAAMMDD(@DataAuto)

		IF ISDATE(@DataAutuacao + ' ' + @HoraAuto) = 0
		BEGIN
			SET @MsgErro = '012-Data/Hora do Auto Inválida.'

			GOTO TrataMsg
		END

		IF NULLIF(LEN(@CodigoInfracao), 0) IS NULL
		BEGIN
			SET @MsgErro = '014-É necessário informar o Código de Infração.'

			GOTO TrataMsg
		END

		IF ISNUMERIC(@CodigoInfracao) = 0
		BEGIN
			SET @MsgErro = '014-Codigo de Infração dever ser numérico.'

			GOTO TrataMsg
		END

		IF NULLIF(LEN(@Desdobramento), 0) IS NULL
		BEGIN
			SET @MsgErro = '089-Desdobramento da Infração deve ser Informado.'

			GOTO TrataMsg
		END

		-----------------------------------------------------------------------------------
		IF (
				(
					@CodigoInfracao IN (
						7030,
						7048
						)
					AND @TipoVeiculo NOT IN (
						2,
						3,
						4
						)
					)
				OR (
					@CodigoInfracao = 5185
					AND @TipoVeiculo IN (
						2,
						3,
						4
						)
					)
				)
		BEGIN
			SET @MsgErro = '086-Codigo da Infração incompatível com Tipo de Veículo.'

			GOTO TrataMsg
		END

		---------------------------------------------------------------------------------
		IF @TipoMedicao IS NULL
		BEGIN
			SET @MsgErro = '014-Codigo de Infração inexistente.'

			GOTO TrataMsg
		END

		SELECT @idTipoInfracao = vi.idTipoInfracao
		FROM vw_Inf_TipoInfracao vi(NOLOCK)
		WHERE vi.CodigoInfracao = @CodigoInfracao
			AND vi.Desdobramento = @Desdobramento
			AND @DataAutuacao BETWEEN Convert(CHAR(08), DataIniVigencia, 112)
				AND Isnull(Convert(CHAR(08), DataFimVigencia, 112), '29991231')

		IF @idTipoInfracao IS NULL
		BEGIN
			SET @MsgErro = '015-Codigo de Infração fora de vigência.'

			GOTO TrataMsg
		END

		IF NULLIF(LEN(@Local), 0) IS NULL
		BEGIN
			SET @MsgErro = '053-Local da Infração não informado.'

			GOTO TrataMsg
		END

		SET @IdPessoaCondutor = NULL
		SET @MedConsiderada = NULL

		--SET  @MedRegistrada  = null 
		--SET  @MedPermitida   = null 
		IF @TipoMedicao <> 0
		BEGIN
			IF (
					ISNULL(@CodigoTipoInstrumento, 0) <> 0
					AND ISNULL(@CodigoTipoInstrumento, 0) <> 8
					)
				OR @idSessao <> - 1
			BEGIN
				IF @TipoMedicao <> (
						SELECT TOP 1 TipoMedicao
						FROM Inf_TipoInstrumento(NOLOCK)
						WHERE CodigoTipoInstrumento = @CodigoTipoInstrumento
						)
				BEGIN
					SET @MsgErro = '088-Tipo de Instrumento incompativel com Infração.'

					GOTO TrataMsg
				END
			END

			IF @idSessao <> - 1
			BEGIN
				IF @TipoMedicao <> 5
					AND @TipoMedicao <> 13
					AND @TipoMedicao <> 12 --(Medição Alcool)
				BEGIN
					IF @TipoMedicao = 1 --(Medição Velocidade)
					BEGIN
						IF (NULLIF(LEN(@CodigoTipoInstrumento), 0) IS NULL)
						BEGIN
							SET @MsgErro = '061-Informe o Código do Instrumento de Aferição.'

							GOTO TrataMsg
						END

						IF (NULLIF(LEN(@InstrumentoAfericao), 0) IS NULL)
						BEGIN
							SET @MsgErro = '061-Informe o Instrumento de Aferição.'

							GOTO TrataMsg
						END

						IF NULLIF(LEN(@DataAfericao), 0) IS NOT NULL
							IF ISDATE(SUBSTRING(@DataAfericao, 4, 3) + LEFT(@DataAfericao, 3) + RIGHT(@DataAfericao, 4)) = 0
							BEGIN
								SET @MsgErro = '019-Data Aferição Inválida.'

								GOTO TrataMsg
							END
					END
				END

				IF (NULLIF(LEN(@MedicaoRegistrada), 0) IS NULL)
					OR (ISNUMERIC(@MedicaoRegistrada) = 0)
				BEGIN
					SET @MsgErro = '016-Informe a Medição Registrada.'

					GOTO TrataMsg
				END

				IF (NULLIF(LEN(@MedicaoPermitida), 0) IS NULL)
					OR (ISNUMERIC(@MedicaoPermitida) = 0)
				BEGIN
					SET @MsgErro = '017-Informe a Medição Permitida.'

					GOTO TrataMsg
				END

				SET @MedRegistrada = Convert(NUMERIC(7, 2), @MedicaoRegistrada)
				SET @MedPermitida = Convert(NUMERIC(7, 2), @MedicaoPermitida)

				IF @MedRegistrada = 0
				BEGIN
					SET @MsgErro = '016-Medição Registrada Obrigatória.'

					GOTO TrataMsg
				END

				IF @MedPermitida = 0
				BEGIN
					SET @MsgErro = '017-Medição Permitida Obrigatória.'

					GOTO TrataMsg
				END

				IF @MedPermitida >= @MedRegistrada
				BEGIN
					SET @MsgErro = '055-Medição Registrada Inferior à Permitida.'

					GOTO TrataMsg
				END

				IF @TipoMedicao = 1 -- (Medição velocidade)
					IF @MedRegistrada > 100
						SET @MedConsiderada = (@MedRegistrada * 0.93)
					ELSE
						SET @MedConsiderada = @MedRegistrada - 7

				IF @TipoMedicao = 2
				BEGIN
					SET @MedConsiderada = @MedRegistrada - @MedPermitida

					--SET @ValorMulta = ROUND(((((@MedRegistrada - @MedPermitida) / 200) * 20) * 1.0641),2)
					SELECT @ValorMulta = dbo.fn_Inf_CalculaValorPeso(@CodigoInfracao, @MedRegistrada, @MedPermitida, @DataAutuacao)
				END
			END -- @TipoMedicao <> 5

			------ Permite Somente medição registrada superior a 0.60  
			IF @TipoMedicao = 5 -- (Medição Alcool) -- Samuel/Gilson -- 23/08/2024
			BEGIN
				IF (NULLIF(LEN(@MedicaoRegistrada), 0) IS NOT NULL)
				BEGIN
					SET @MedRegistrada = Convert(NUMERIC(7, 2), ISNULL(@MedicaoRegistrada, '0'))
					SET @MedConsiderada = Convert(NUMERIC(7, 2), ISNULL(@MedicaoPermitida, '0'))
					SET @MedPermitida = Convert(NUMERIC(7, 2), 0)
						-- SET @MedConsiderada = Round(@MedRegistrada * 0.90, 2)
						--			     	IF @MedRegistrada <= 6.0  
						--					BEGIN
						--						SET @MsgErro =  '016-Medição Registrada Inválida Para Esta Infração.'
						--						GOTO TrataMsg
						--					END
						-- SET @MedConsiderada = @Medregistrada - @MedPermitida
				END

				IF @idSessao <> - 1
				BEGIN
					IF (NULLIF(LEN(@DataAfericao), 0) IS NOT NULL)
					BEGIN
						IF (NULLIF(LEN(@CodigoTipoInstrumento), 0) IS NULL)
						BEGIN
							SET @MsgErro = '061-Informe o Código do Instrumento de Aferição.'

							GOTO TrataMsg
						END

						IF ISDATE(SUBSTRING(@DataAfericao, 4, 3) + LEFT(@DataAfericao, 3) + RIGHT(@DataAfericao, 4)) = 0
						BEGIN
							SET @MsgErro = '019-Data Aferição Inválida.'

							GOTO TrataMsg
						END
					END
				END

				BEGIN TRY
					SELECT @MedConsiderada = dbo.fn_Inf_CalculaMedicaoConsiderada(@MedicaoRegistrada, @MedicaoPermitida, @CodigoInfracao, @Desdobramento)
				END TRY

				BEGIN CATCH
					SET @MsgErro = 'Erro ao calcular medição considerada.'

					GOTO TrataMsg
				END CATCH
			END

			IF @TipoMedicao = 2
				AND @idSessao <> - 1 -- Medição por Peso
			BEGIN
				IF (NULLIF(LEN(@DataAfericao), 0) IS NOT NULL)
				BEGIN
					IF (NULLIF(LEN(@CodigoTipoInstrumento), 0) IS NULL)
					BEGIN
						SET @MsgErro = '061-Informe o Código do Instrumento de Aferição.'

						GOTO TrataMsg
					END

					IF ISDATE(SUBSTRING(@DataAfericao, 4, 3) + LEFT(@DataAfericao, 3) + RIGHT(@DataAfericao, 4)) = 0
					BEGIN
						SET @MsgErro = '019-Data Aferição Inválida.'

						GOTO TrataMsg
					END
				END
			END
		END -- TipoMedicao ============================================			

		IF ISDATE(@DataAutuacao + ' ' + @HoraAuto) <> 0
		BEGIN
			SET @DataHoraAuto = CONVERT(DATETIME, @DataAutuacao + ' ' + @HoraAuto)

			IF (
					convert(INT, (CONVERT(CHAR(08), @DataHoraAuto + 60, 112))) < convert(INT, (CONVERT(CHAR(08), getdate(), 112)))
					AND @IndicadorAssinatura <> 1
					)
				AND @NumeroAuto <> '0000072089'
			BEGIN
				SET @MsgErro = '022-Prazo da Notificação já expirado.'

				GOTO TrataMsg
			END

			IF @DataHoraAuto > GETDATE()
			BEGIN
				SET @MsgErro = '021-Data do Auto de Infração maior que a data atual.'

				GOTO TrataMsg
			END

			IF @TipoMedicao <> 0
				IF @TipoMedicao <> 5
				BEGIN
					IF (NULLIF(LEN(@DataAfericao), 0) IS NOT NULL)
					BEGIN
						IF CONVERT(VARCHAR(08), RIGHT(@DataAfericao, 4) + SUBSTRING(@DataAfericao, 4, 2) + LEFT(@DataAfericao, 2)) < CONVERT(VARCHAR(08), DATEADD(YEAR, - 1, @DataHoraAuto), 112)
						BEGIN
							SET @MsgErro = '019-Data Aferição Fora de Prazo.'

							GOTO TrataMsg
						END

						IF CONVERT(VARCHAR(08), RIGHT(@DataAfericao, 4) + SUBSTRING(@DataAfericao, 4, 2) + LEFT(@DataAfericao, 2)) > CONVERT(VARCHAR(08), @DataHoraAuto, 112)
						BEGIN
							SET @MsgErro = '020-Data de Aferição InMetro Posterior à Data de Autuação.'

							GOTO TrataMsg
						END
					END
				END
		END
	END -- Final MotivoRejeicao NULO
	ELSE
	BEGIN
		SET @DataAutuacao = dbo.fn_Ren_FormataData_AAAAMMDD(@DataAuto)

		IF ISDATE(@DataAutuacao + ' ' + @HoraAuto) = 0
		BEGIN
			SET @DataAutuacao = NULL
		END

		SELECT @idCidadePais = idCidadePais,
			@UFCidade = UF
		FROM Gen_CidadePais(NOLOCK)
		WHERE CodLocal = @CodigoMunicipio

		IF @UFPlaca = (
				SELECT UF
				FROM sys_Parametros
				)
		BEGIN
			SELECT @idVeiculo = idVeiculo,
				@TipoVeiculo = CodigoTipoVeiculo,
				@DataAquisicao = RIGHT(DataAquisicao, 4) + SUBSTRING(DataAquisicao, 4, 2) + LEFT(DataAquisicao, 2),
				@AnoFab = AnoFabricacao
			FROM vw_Rev_DadosVeiculo
			WHERE (
					Placa = @Placa
					OR Placa = CASE 
						WHEN ISNUMERIC(SUBSTRING(@Placa, 5, 1)) > 0
							THEN dbo.fnConversorMercosul(@Placa)
						ELSE dbo.fn_VerificarPlacaMercosul(@Placa)
						END
					) --mercosul 03122019
				AND ISNULL(MotivoBaixa, 0) = 0
		END
		ELSE
		BEGIN
			IF @idTransacao IS NULL
			BEGIN
				EXEC stp_REV_902_EV01 @Placa,
					@idTransacao OUTPUT,
					'1'
			END

			SELECT @TipoVeiculo = ISNULL(idTipoVeiculo, 0)
			FROM vwTrata912_Transacoes
			WHERE idTransacao = @idTransacao
		END

		SELECT @idTipoInfracao = vi.idTipoInfracao
		FROM vw_Inf_TipoInfracao vi(NOLOCK)
		WHERE vi.CodigoInfracao = @CodigoInfracao
			AND vi.Desdobramento = @Desdobramento
			AND @DataAutuacao BETWEEN Convert(CHAR(08), DataIniVigencia, 112)
				AND Isnull(Convert(CHAR(08), DataFimVigencia, 112), '29991231')
	END

	--até aqui OK
	SET @DataAutoErro = @DataAuto + ' ' + @HoraAuto

	IF ISDATE(@DataAutuacao + ' ' + @HoraAuto) <> 0
	BEGIN
		SET @DataHoraAuto = CONVERT(DATETIME, @DataAutuacao + ' ' + @HoraAuto)
	END

	IF NULLIF(LEN(@DataLote), 0) IS NULL
	BEGIN
		SET @MsgErro = 'Informe Data do Lote.'

		GOTO TrataMsg
	END

	IF ISDATE(SUBSTRING(@DataLote, 4, 3) + LEFT(@DataLote, 3) + RIGHT(@DataLote, 4)) = 0
	BEGIN
		SET @MsgErro = 'Data do Lote Inválida.'

		GOTO TrataMsg
	END

	SET @DtProc = SUBSTRING(@DataLote, 4, 3) + LEFT(@DataLote, 3) + RIGHT(@DataLote, 4)

	IF CONVERT(CHAR(08), @DataHoraAuto, 112) > CONVERT(CHAR(08), @DtProc, 112)
		AND @MotivoRejeicao IS NULL
	BEGIN
		SET @MsgErro = '021-Data do Auto maior que Data do Lote.'

		GOTO TrataMsg
	END

	IF NULLIF(LEN(@NumeroLote), 0) IS NULL
	BEGIN
		--IF @CodigoOrgaoAutuador <> 200030 AND @IdSessao<>-1    
		--BEGIN
		--	SET @MsgErro = 'Informe o Numero do Lote.'
		--	GOTO TrataMsg
		--END
		--ELSE
		--BEGIN
		SELECT @NumeroLote = MAX(NumeroLote)
		FROM Inf_ControleLote cl(NOLOCK)
		WHERE CodigoOrgaoAutuador = @CodigoOrgaoAutuador
			AND TipoEntradaDados = @TipoEntradaDados
			AND DataProcessamento = @DtProc
			AND isnull(FechamentoLote, 0) = 0
			AND isnull(LiberarLote, 0) = 0

		IF NULLIF(LEN(@NumeroLote), 0) IS NULL
		BEGIN
			EXEC stp_Inf_LoteInfracao_Ins @CodigoOrgaoAutuador = @CodigoOrgaoAutuador,
				@TipoEntradaDados = @TipoEntradaDados,
				@QteAuto = 50,
				@idSessao = @idSessao,
				@UserInclusao = @UsuarioInclusao,
				@RetornaLote = @SringNumeroLote OUTPUT

			SET @NumeroLote = CONVERT(INT, SUBSTRING(@SringNumeroLote, 1, 9))
		END

		SET @DtProc = CONVERT(VARCHAR(10), GETDATE(), 112)
			--END
	END

	IF NULLIF(LEN(@idTransacao), 0) IS NOT NULL
		IF NOT EXISTS (
				SELECT idTransacao
				FROM Rev_Transacoes(NOLOCK)
				WHERE idTransacao = @idTransacao
				)
		BEGIN
			SET @MsgErro = 'Transacao ' + convert(VARCHAR(10), @idTransacao)

			GOTO TrataMsg
		END

	-- CONSISTÊNCIA DOS DADOS ------------------------------------------------------------------------------
	SELECT @idControleLote = idControleLote,
		@FeCHAR = FechamentoLote,
		@QuantLote = ISNULL(QteAutoInfracaoLote, 0),
		@TotalLote = ISNULL(COUNT(idControleLote), 0)
	FROM Inf_ControleLote(NOLOCK)
	WHERE CodigoOrgaoAutuador = @CodigoOrgaoAutuador
		AND TipoEntradaDados = @TipoEntradaDados
		AND DataProcessamento = @DtProc
		AND NumeroLote = @NumeroLote
	GROUP BY idControleLote,
		FechamentoLote,
		QteAutoInfracaoLote

	IF @idControleLote IS NULL
	BEGIN
		SET @MsgErro = 'Lote não Cadastrado.'

		GOTO TrataMsg
	END

	IF @FeCHAR <> 0
	BEGIN
		SET @MsgErro = 'Lote não Aberto.'

		GOTO TrataMsg
	END

	SELECT @OrgaoAutuadorTalao = tl.CodigoOrgaoAutuador,
		@idAgenteAutuador = fa.idAgenteAutuador,
		@DtDetran = DataEntregaDetran,
		@CodMotivoCancelamento = CodMotivoCancelamento
	FROM Inf_Talonario tl(NOLOCK),
		Inf_FolhasAuto fa(NOLOCK)
	WHERE fa.NumeroAuto = @NumeroAuto
		AND fa.IdNumeroTalao = tl.IdNumeroTalao
		AND tl.CodigoOrgaoAutuador = @CodigoOrgaoAutuador

	-- INCLUIDO EM 13/01/2022 (PARA PEGAR O ULTIMO DIA/MES/ANO DO ANO CORRENTE) - MARICELMO
	DECLARE @DataFinalAno VARCHAR(10)

	SET @DataFinalAno = Convert(DATE, DATEADD(YEAR, DATEDIFF(YEAR, 0, GETDATE()) + 1, - 1))

	--COMENTADO EM 01/02/2024 - DALMON CARVALHO
	--05012020-ze alves mudou  pra 2021, pois ainda não tem controle de Talão - e alterar la na do dalmon [stp_Inf_Ws_AutoInfracaoEletronica_ins]
	--IF (CONVERT(DATE, GETDATE()) > @DataFinalAno OR @OrgaoAutuadorTalao IS NOT NULL)
	--BEGIN
	--	IF dbo.fn_Inf_VerificaObrigacaoTalonario(@NumeroAuto) = 1
	--	BEGIN
	--		--#001
	--		IF NOT EXISTS (
	--				SELECT *
	--				FROM Inf_FolhasAuto(NOLOCK)
	--				WHERE NumeroAuto = @NumeroAuto
	--				)
	--		BEGIN
	--			SET @MsgErro = 'Verificar a obrigação do uso do talonário físico.'
	--			GOTO TrataMsg
	--		END
	--		IF @OrgaoAutuadorTalao IS NULL
	--		BEGIN
	--			SET @MsgErro = 'Folha do Auto não pertence ao Órgão Autuador.'
	--			GOTO TrataMsg
	--		END
	--		IF @idAgenteAutuador IS NULL
	--		BEGIN
	--			SET @MsgErro = 'Numero do Auto não Existe.'
	--			GOTO TrataMsg
	--		END
	--		IF @DtDetran IS NULL
	--		BEGIN
	--			SET @MsgErro = 'Folha de Auto não entregue ao Órgão Competente.'
	--			GOTO TrataMsg
	--		END
	--		IF @CodMotivoCancelamento IS NOT NULL
	--		BEGIN
	--			SET @MsgErro = 'Folha de Auto já Cancelada no recebimento.'
	--			GOTO TrataMsg
	--		END
	--		IF CONVERT(CHAR(08), @DtDetran, 112) > CONVERT(CHAR(08), @DtProc, 112)
	--		BEGIN
	--			SET @MsgErro = 'Data do Lote Menor que Data de Entrega do Auto ao Órgão de Trânsito.'
	--			GOTO TrataMsg
	--		END
	--	END
	--END
	--FIM COMENTADO EM 01/02/2024 - DALMON CARVALHO
	IF @idAgenteAutuador IS NULL
	BEGIN
		IF GETDATE() < '2013-01-01' -- Colocado para Pegar idAgenteAutuador do Orgão Autuador
			SELECT @idAgenteAutuador = idAgenteAutuador
			FROM Inf_OrgaoAutuador oa(NOLOCK),
				Inf_AgenteAutuador aa(NOLOCK),
				Gen_Pessoas gp(NOLOCK)
			WHERE oa.CNPJOrgaoAutuador = gp.DocPrincipal
				AND aa.idOrigem = gp.idPessoa
				AND oa.CodigoOrgaoAutuador = @CodigoOrgaoAutuador

		IF @CpfAgente IS NOT NULL
			SELECT @idAgenteAutuador = aa.idAgenteAutuador,
				@NomeAgente = gp.Nome
			FROM Inf_AgenteAutuador(NOLOCK) aa
			JOIN vw_Gen_Pessoas gp(NOLOCK) ON aa.idOrigem = gp.IdPessoa
			WHERE aa.TipoAutuador = 1
				AND (
					gp.DocPrincipal = @CpfAgente -- SAMUEL -- 03/11/2023
					OR aa.MatriculaAgente = @MatriculaAgente
					) --- Zé Alves os 96828 --16022022
				AND aa.CodigoOrgaoAutuador = @CodigoOrgaoAutuador --- rafael adicionei 05-01-2020 TUDO

		IF @MatriculaAgente IS NOT NULL
			SELECT @idAgenteAutuador = aa.idAgenteAutuador,
				@NomeAgente = gp.Nome
			FROM Inf_AgenteAutuador(NOLOCK) aa
			JOIN vw_Gen_Pessoas gp(NOLOCK) ON aa.idOrigem = gp.IdPessoa
			WHERE aa.TipoAutuador = 1
				AND (
					gp.DocPrincipal = @CpfAgente -- SAMUEL -- 03/11/2023
					OR aa.MatriculaAgente = @MatriculaAgente
					) --- Zé Alves os 96828 --16022022
				AND aa.CodigoOrgaoAutuador = @CodigoOrgaoAutuador --- rafael adicionei 05-01-2020 TUDO

		-- tarefa-945 - Rodrigo Figueira - 19/12/2024
		-- Esse trecho estava inserindo um agente quando a matrícula não foi encontrada	
		/*
		IF @idAgenteAutuador IS NULL
		BEGIN
			INSERT INTO Inf_AgenteAutuador (
				TipoAutuador,
				MatriculaAgente,
				IdOrigem,
				CodigoOrgaoAutuador,
				OrgaoAutuadorOrigem,
				DataInicioOperacao,
				NomeAgente,
				IdSessao,
				UsuarioInclusao
				)
			VALUES (
				1,
				@MatriculaAgente,
				1,
				@CodigoOrgaoAutuador,
				@CodigoOrgaoAutuador,
				GETDATE(),
				@NomeAgente,
				@IdSessao,
				@UsuarioInclusao
				)

			SET @idAgenteAutuador = @@IDENTITY
		END
		*/

		IF @idAgenteAutuador IS NULL
		BEGIN
			SET @MsgErro = 'Matricula do Agente Autuador não localizada.'

			GOTO TrataMsg
		END
	END

	IF @MotivoRejeicao IS NULL
		IF NOT EXISTS (
				SELECT *
				FROM Inf_AgenteAutuador(NOLOCK)
				WHERE TipoAutuador = 1
					AND idAgenteAutuador = @idAgenteAutuador
					AND CONVERT(CHAR(08), ISNULL(DataFimOperacao, Getdate() + 1), 112) > CONVERT(CHAR(08), @DataHoraAuto, 112)
				)
		BEGIN
			SET @MsgErro = 'Agente não esta em Operação.'

			GOTO TrataMsg
		END

	IF EXISTS (
			SELECT TOP 1 idRegistroLote
			FROM Inf_RegistroLote rl(NOLOCK),
				Inf_ControleLote cl(NOLOCK)
			WHERE rl.IdControleLote = cl.IdControleLote
				AND cl.CodigoOrgaoAutuador = @CodigoOrgaoAutuador
				AND rl.NumeroAutoInfracao = @NumeroAuto
			)
		--   AND	  rl.CodigoInfracao		 = @CodInfracao 
		--   AND	  rl.Desdobramento		 = @Desdobramento
	BEGIN
		SET @MsgErro = 'Número do Auto já Cadastrado para este Órgão.'

		GOTO TrataMsg
	END

	--IF @NumeroLocal is null and @Complemento is null
	--BEGIN
	--	SET @MsgErro =  'Preencha o campo número ou referência do Local onde ocorreu a infração.'
	--	GOTO TrataMsg
	--END
	-------------------------------------------------------------------------------------------------------
	-- GRAVAÇÃO -------------------------------------------------------------------------------------------
	BEGIN TRAN

	INSERT Inf_RegistroLote (
		idControleLote,
		NumeroAutoInfracao,
		CodigoInfracao,
		Desdobramento,
		idTipoInfracao,
		idAgenteAutuador,
		MotivoRejeicao,
		idSessao,
		UsuarioInclusao
		)
	VALUES (
		@idControleLote,
		UPPER(@NumeroAuto),
		@CodInfracao,
		@Desdobramento,
		@idTipoInfracao,
		@idAgenteAutuador,
		@MotivoRejeicao,
		@idSessao,
		@UsuarioInclusao
		)

	SELECT @idRegistroLote = SCOPE_IDENTITY()

	SET @DataAutoInfracao = @DataAutuacao

	IF @ValorMulta IS NULL
	BEGIN
		SELECT @ValorMulta = dbo.fn_Inf_CalculaValorMulta(@CodigoInfracao, @Desdobramento, @DataAutuacao + ' ' + @HoraAuto)
	END

	IF (
			@ValorMulta IS NULL
			OR @ValorMulta = 0
			)
		AND @MotivoRejeicao IS NULL -- ze alves critica  =0 08032022
	BEGIN
		SET @MsgErro = 'Valor da multa não localizado na Tabela de Infraçoes.'

		GOTO TrataMsg
	END

	IF @MotivoRejeicao IS NOT NULL
	BEGIN
		SET @ValorMulta = 0
	END

	-- Pega Convenio na Tabela de Convenio (para o RENAINF)
	IF @UFPlaca = (
			SELECT uf
			FROM Sys_Parametros
			)
		SET @TipoConvenio = 1 -- Convenio para Veiculos Local
	ELSE -- Renainf
		SET @TipoConvenio = 2 -- RENAINF Estadual

	IF @MotivoRejeicao IS NULL
	BEGIN
		SET @Status_Codigo = 0
	END
	ELSE
	BEGIN
		SET @Status_Codigo = 9
	END

	SELECT @Convenio = CodigoConvenio
	FROM Inf_Convenio(NOLOCK)
	WHERE CodigoOrgaoAutuador = @CodigoOrgaoAutuador
		AND TipoConvenio = @TipoConvenio

	SET @IdProprietario = NULL
	SET @IdProprietario = dbo.fn_Inf_ProprietarioNaEpoca(@idVeiculo, @DataHoraAuto) --dbo.fn_Inf_RetornaRealInfrator(@idVeiculo,@DataHoraAuto)

	INSERT Inf_AutoInfracao (
		idRegistroLote,
		Placa,
		UfPlaca,
		idVeiculo,
		LocalInfracao,
		BairroInfracao,
		Complemento,
		DataHoraAutuacao,
		idCidadePais,
		Convenio,
		ValorMulta,
		TipoDocumentoCondutor,
		IdDocumentoCondutor,
		CodigoTipoInstrumento,
		InstrumentoAfericao,
		DataAfericaoInMetro,
		MedicaoRegistrada,
		MedicaoPermitida,
		MedicaoConsiderada,
		IndicadorAssinatura,
		SituacaoAuto,
		Observacao,
		idTransacao,
		idSessao,
		IdProprietario,
		NumeroTama,
		NumeroSerieInstrumento,
		NumeroTesteInstrumento,
		NumeroTermoConstatacao,
		RecolhePPD,
		RecolheCNH,
		RecolheACC,
		RecolheCLRV,
		RecolheCRV,
		RecolheOutros,
		RecolheOutrosDados,
		VeiculoRemovido,
		VeiculoRetido,
		VeiculoOutros,
		VeiculoOutrosDados,
		CidadeVeiculoEstrangeiro,
		PaisVeiculoEstrangeiro,
		Chassi,
		EspecieVeiculoEstrangeiro,
		PaisCondutorEstrangeiro,
		RGCondutorEstrangeiro,
		OrgaoRGCondutorEstrangeiro,
		NomeTransportador,
		NumDocEmbarcadorTransp,
		idMarcaModeloInstrumento,
		Abordagem,
		AbordagemJustificativa,
		DadosCondutorCorreto,
		DadosPlacaCorreto,
		idEspecieVeiculo,
		idMarcaVeiculo,
		idCidadePaisVeiculo,
		NumeroLocal,
		Status_Codigo,
		UsuarioInclusao
		)
	VALUES (
		@idRegistroLote,
		UPPER(@Placa),
		UPPER(@UfPlaca),
		@idVeiculo,
		UPPER(dbo.fn_TirarAcentos(@Local)),
		UPPER(dbo.fn_TirarAcentos(@BairroInfracao)),
		UPPER(@Complemento),
		@DataHoraAuto,
		@idCidadePais,
		@Convenio,
		@ValorMulta,
		NULL,
		-- TipoDocumentoCondutor
		@IdPessoaCondutor,
		@CodigoTipoInstrumento,
		CASE 
			WHEN NULLIF(LEN(@InstrumentoAfericao), 0) IS NULL
				THEN NULL
			ELSE Upper(@InstrumentoAfericao)
			END,
		CASE 
			WHEN @DataAfericao IS NULL
				THEN NULL
			ELSE RIGHT(@DataAfericao, 4) + SUBSTRING(@DataAfericao, 4, 2) + LEFT(@DataAfericao, 2)
			END,
		@MedRegistrada,
		@MedPermitida,
		@MedConsiderada,
		@IndicadorAssinatura,
		0,
		UPPER(@Observacao),
		@idTransacao,
		@idSessao,
		@IdProprietario,
		@NumeroTama,
		@NumeroSerieInstrumento,
		@NumeroTesteInstrumento,
		@NumeroTermoConstatacao,
		@RecolhePPD,
		@RecolheCNH,
		@RecolheACC,
		@RecolheCLRV,
		@RecolheCRV,
		@RecolheOutros,
		@RecolheOutrosDados,
		@VeiculoRemovido,
		@VeiculoRetido,
		@VeiculoOutros,
		@VeiculoOutrosDados,
		NULL,
		--@CidadeVeiculoEstrangeiro
		NULL,
		--@PaisVeiculoEstrangeiro,
		@Chassi,
		NULL,
		--@EspecieVeiculoEstrangeiro,
		NULL,
		--@PaisCondutorEstrangeiro,
		NULL,
		--@RGCondutorEstrangeiro,
		NULL,
		--@OrgaoRGCondutorEstrangeiro	,
		NULL,
		--@NomeTransportador	,
		NULL,
		--@NumDocEmbarcadorTransp,
		@idMarcaModeloInstrumento,
		@Abordagem,
		--@Abordagem,
		NULL,
		--@AbordagemJustificativa,
		NULL,
		--@DadosCondutorCorreto,
		NULL,
		--@DadosPlacaCorreto,
		NULL,
		--@idEspecieVeiculo,
		NULL,
		--@idMarcaVeiculo,
		@idCidadePaisVeiculo,
		@NumeroLocal,
		@Status_Codigo,
		@UsuarioInclusao
		)

	SELECT @idAutoInfracao = SCOPE_IDENTITY()

	IF NULLIF(LEN(@NumeroCNH), 0) IS NOT NULL
		SET @NumeroCNH = dbo.fnTextoRetorno(@NumeroCNH, 11, 'N')

	IF NULLIF(LEN(@CPFCondutor), 0) IS NOT NULL
		SET @CPFCondutor = dbo.fnTextoRetorno(@CPFCondutor, 11, 'N')

	IF NULLIF(LEN(@NumeroCNH), 0) IS NOT NULL
		OR NULLIF(LEN(@CPFCondutor), 0) IS NOT NULL
		OR NULLIF(LEN(@NomeCondutor), 0) IS NOT NULL
	BEGIN
		INSERT Inf_IndicacaoCondutor (
			idAutoInfracao,
			TipoOrigem,
			TipoDocumento,
			Documento,
			UFDocumento,
			NomeCondutor,
			CPFCondutor,
			idSessao,
			UsuarioInclusao
			)
		VALUES (
			@idAutoInfracao,
			'D',
			@TipoDocumentoCondutor,
			@NumeroCNH,
			UPPER(@UFCNH),
			UPPER(dbo.fn_TirarAcentos(@NomeCondutor)),
			@CPFCondutor,
			@idSessao,
			@UsuarioInclusao
			)
	END

	COMMIT TRAN

	SET @MsgErro = 'SUCESSO'

	GOTO TrataMsg
END

TrataMsg:

IF @@TRANCOUNT > 0
	ROLLBACK TRANSACTION

SELECT @MsgErro

RETURN
