USE [dbDetranNet]

go

SET ansi_nulls ON

go

SET quoted_identifier ON

go

ALTER PROC [dbo].[Stp_renavam_consulta_hammer_api] @in_Placa   VARCHAR(max) = '',
                                                   @in_Renavam VARCHAR(max) = 0
AS
  BEGIN
      DECLARE @Placa                       VARCHAR(max) = @in_Placa,
              @Chassi                      VARCHAR(max),
              @Pais                        VARCHAR(max) = 'BR',
              @Municipio                   VARCHAR(max),
              @UF                          VARCHAR(max),
              @Renavam                     VARCHAR(max) = @in_Renavam,
              @Marca                       VARCHAR(max),
              @Especie                     VARCHAR(max),
              @TipoVeiculo                 VARCHAR(max),
              @Categoria                   VARCHAR(max),
              @Cor                         VARCHAR(max),
              @CodigoMunicipioEmplacamento INT = 0,
              @idTransacao                 VARCHAR(max) = 0

      CREATE TABLE #resultadocosulta
        (
           codigoretorno            INT,
           msgerror                 VARCHAR(30),
           placa                    VARCHAR(max),
           renavam                  BIGINT,
           ufplaca                  VARCHAR(max),
           chassi                   VARCHAR(max),
           codigocor                INT,
           cor                      VARCHAR(max),
           codigocombustivel        INT,
           combustivel              VARCHAR(max),
           anomodelo                INT,
           anofabricacao            INT,
           codigotipoveiculo        INT,
           tipoveiculo              VARCHAR(max),
           codigoespecie            VARCHAR(max),
           especie                  VARCHAR(max),
           codigomarca              INT,
           marca                    VARCHAR(max),
           docprincipalproprietario VARCHAR(max),
           nome                     VARCHAR(max),
           tipopessoa               VARCHAR(10),
           cep                      VARCHAR(20),
           endereco                 VARCHAR(50),
           lugares                  INT,
           numeromotor              VARCHAR(max),
           codigocarroceria         INT,
           carroceria               VARCHAR(max),
           numeroeixos              VARCHAR(max),
           potenciaveiculo          VARCHAR(max),
           cmtveiculo               VARCHAR(max),
           pbtveiculo               VARCHAR(max),
           cilindradas              VARCHAR(max),
           capacidadecarga          VARCHAR(max),
        )

      INSERT INTO #resultadocosulta
      EXEC Stp_rev_consulta_921_api
        @Placa = @in_Placa,
        @Renavam = @in_Renavam

      EXEC @idTransacao = Stp_rev_921_ev01
        @Renavam = @in_Renavam,
        @Placa = @in_Placa,
        @TipoRespostaSelect = 0

      SELECT @CodigoMunicipioEmplacamento = codigomunicipioemplacamento
      FROM   [Fn_rev_921_trataretorno] (@idTransacao)

      SELECT @Chassi = chassi,
             @Marca = marca,
             @Especie = especie,
             @Categoria = '',
             @Cor = cor,
			 @TipoVeiculo = tipoveiculo
      FROM   #resultadocosulta

      DROP TABLE #resultadocosulta

      SELECT @Municipio = nomelocal,
             @UF = uf
      FROM   gen_cidadepais
      WHERE  codlocal = RIGHT(REPLICATE('0', 4) + CONVERT(VARCHAR(4), @CodigoMunicipioEmplacamento), 4)

      SELECT @Placa       AS Placa,
             @Chassi      AS Chassi,
             @Pais        AS Pais,
             @Municipio   AS Municipio,
             @UF          AS UF,
             @Renavam     AS Renavam,
             @Marca       AS Marca,
             @Especie     AS Especie,
             @TipoVeiculo AS TipoVeiculo,
             @Categoria   AS Categoria,
             @Cor         AS Cor
  END 